<div class="contenedor" style="zoom:90%;"> 
<div class="row">
    <h2>Gestion de Indicadores</h2>
     <a href="#/indicadores/categorias">
    <div class="col s2 z-depth-1 white"  style="text-align: center;padding: 10px;margin-right: 5px;margin-bottom:5px;">
        <center><i class="material-icons icon" style="font-size: 60px;color:#003C6B">playlist_add</i></center>
         Categorias
    </div>
    </a>
    <a href="#/indicadores/subcategorias">
    <div class="col s2 z-depth-1 white"  style="text-align: center;padding: 10px;margin-right: 5px;margin-bottom:5px;">
        <center><i class="material-icons icon" style="font-size: 60px;color:#003C6B">device_hub</i></center>
       Subcategorias
    </div>
    </a>
    <a href="#/indicadores/crear">
    <div class="col s2 z-depth-1 white"  style="text-align: center;padding: 10px;margin-right: 5px;margin-bottom:5px;">
        <center><i class="material-icons icon" style="font-size: 60px;color:#003C6B">show_chart</i></center>
       Gestion de indicadores
    </div>
    </a>
    <a href="#/solicitudes">
    <div class="col s2 z-depth-1 white"  style="text-align: center;padding: 10px;margin-right: 5px;margin-bottom:5px;">
        <center><i class="material-icons icon" style="font-size: 60px;color:#003C6B">equalizer</i></center>
       Reportes
    </div>
    </a>
    <a href="#/solicitudes">
    <div class="col s2 z-depth-1 white"  style="text-align: center;padding: 10px;margin-right: 5px;margin-bottom:5px;">
        <center><i class="material-icons icon" style="font-size: 60px;color:#003C6B">add_box</i></center>
       Nuevas solicitudes
    </div>
    </a>
</div>
</div>