<div class="contenedor"> 
    <div class="row white">
        <div class="col s12 z-depth-1">
            <div class="contenedor">
                <div class="row">

<div class="col s12" ng-controller="subcategoriasController">  
                        <h2>Gestion de Sub categorias</h2>
                        <table  class="striped">
                            <thead>
                            <th width="20px">
                            </th>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Categoria
                            </th>
                            <th width="10px">
                                
                            </th>
                            <th width="10px">
                                
                            </th>
                            <th width="10px">
                                
                            </th>
                            </thead>
                            <tbody>
                                <tr style="background-color: transparent;">
                                    <td><input type="text" ng-model="Subcategorias.id" disabled="true"></td>
                                    <td><input type="text" ng-model="Subcategorias.nombre"></td>
                                    <td>
                                       <select ng-model="Subcategorias.categoria" id="subcategorias" class="browser-default">
                                           <option ng-repeat="item in listaCategorias" value="{{item.id}}">{{item.nombre}}</option>
                                        </select>
                                    <td><button class="btn waves-effect waves-light green " title="Guardar" id="guardar" ng-click="guardar();" disabled="" ><i class="material-icons" >save</i></button></td>
                                    <td><button class="btn waves-effect waves-light blue"  title="Actualizar" id="actualizar" ng-click="modificar();" disabled="" ><i class="material-icons" >save</i></button></td>
                                    <td><button class="btn waves-effect waves-light red"  title="limpiar" id="limpiar" ng-click="limpiar();" ><i class="material-icons" >clear</i></button></td>
                                </tr>
                                <tr ng-repeat ="item in listaSubcategorias">
                                    <td>{{item.id}}</td>
                                    <td>{{item.nombre}}</td>
                                     <td>{{item.nombreCategoria}}</td>
                                    <td></td>
                                    <td style="text-align: center;"><a href="javascript:;" title="editar" ng-click="cargarModificar(item);"><i class="material-icons">create</i></a></td>
                                    <td style="text-align: center;"><a href="javascript:;" title="eliminar"  ng-click="eliminar(item.id);"><i class="material-icons" style="color:#F44336">remove</i></a></td>
                                </tr>
                            </tbody>    
                        </table>
                  </div>
                    
                              </div>
        </div>
    </div>
   


</div>
