<div class="contenedor" style="zoom:85%;"> 
    <div class="row white">
        <div class="col s12 z-depth-1">
            <div class="contenedor"  ng-controller="archivosController" data-ng-init="cargarArchivos()">
                <div class="row">
                    <div class="col s12">  
                      <div class="col s8">  
                        <h2>Listado de Archivos</h2>
                      </div>
                         <div class="col s4">

                        <div style='width:32px;float: left'>
                            <i class="material-icons left">search</i>
                        </div>
                        <div style='float: left'>
                            <small>Buscador</small>
                        </div>
                        <input id="search" type="text" placeholder="Item" ng-model="filtro" required>

                    </div>
                        <table  class="striped">
                            <thead>
                            <th>Codigo</th>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Proceso
                            </th>
                            <th>
                               Subproceso
                            </th>
                            <th>
                              Tipo de Documento
                            </th>
                            <th>
                                Fecha Actualizacion
                            </th>
                            <th>
                              Version
                            </th>
                            <th>
                                Responsable del Doc.
                            </th>
                            <th>
                                Responsable de Aprob.
                            </th>
                            <th>
                                Ubicacion
                            </th>
                            <!--<th>
                              Externo
                            </th>-->
                            <th>
                                Cambio
                            </th>
                            <th>
                              Estado
                            </th>
                            </thead>
                            <tbody>
                                <tr ng-repeat ="item in listaArchivos | filter: filtro" page-size="20" tolerance="100">
                                    <td>{{item.codigo}}</td>
                                    <td><a target="_blank" href="{{item.url}}" title="">{{item.nombre}}</a></td>
                                    <td>{{item.nam_proceso}}</td>
                                    <td>{{item.nam_subproceso}}</td>
                                    <td>{{item.nam_documento}}</td>
                                    <td>{{item.fecha}}</td>
                                    <td>{{item.version}}</td>
                                    <td>{{item.responsable}}</td>
                                    <td>{{item.responsableAprobacion}}</td>
                                    <td>{{item.url}}</td>
                                    <!--<td ng-if="item.externo =='true'"><img src='../../images/done.png' width="20px" style='border-radius:50%'></td>
                                    <td ng-if="item.externo =='false'"><img src='../../images/close.png' width="20px" style='border-radius:50%'></td>
                                   --><td>{{item.nota}}</td>
                                   <td>{{item.estado}}</td>
                                </tr>
                            </tbody>    
                        </table>
                         
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

