<div class="contenedor" style="zoom:85%;"> 
    <div class="row white">
        <div class="col s12 z-depth-1">
            <div class="contenedor" ng-controller="archivosController" >
                <input type="hidden" value="" id="idCambio">
                   <input type="hidden" value="" id="idCambioFormato">
                <div  style="position:absolute;top: 155px; right: 24px;">
                         <img src="../images/loading.gif" width="40px" style="display:none;" id="loading">
                </div>
                         <div class="row">
                    <div class="col s12" >  
                        <h2>Gestion de Archivos</h2>
                        <br
                            <div class="row">
                         <div class="col s6">
                    	<section id="envio">
                            <form>
                                    <input type="file" id="files" name="files[]" onchange="angular.element(this).scope().visualizar()" multiple>
                            </form>
                        </section>
                        </div> 
                    
                                  <div class="col s6" style="text-align: right">
                                        <button class="btn green" id="subirArchivos" onclick="angular.element(this).scope().cargarTodo()">Subir Archivos</button>
                                    </div> 
                        </div>
                        <div class="row">
                            
                                         <table >
                                            <thead>
                                            <th>id</th>
                                            <th>Externo</th>
                                            <th width="20%">Nombre del documento</th>
                                            <th width="10%">Proceso</th>
                                            <th width="15%">Subproceso</th>
                                            <th width="10%">Tipo de Doc.</th>
                                             <th width="5%">Tamaño</th>
                                            <th width="5%">Version</th>
                                            <th width="5%">Actualizacion</th>
                                            <th width="15%">Responsable del doc.</th>
                                            <th width="15%">Responsable de apro.</th>
                                            <th>Ubicacion</th>
                                            <th width="5%" style="text-align: center">Cambio.</th>
                                            <th>Formt. cambio</th>
                           
                                            </thead>
                                            <tbody id="lista">

                                            </tbody>
                                        </table> 
                         
                        </div>
                    </div>
                             
                             <div class="modal modal-fixed-footer" id="cambiosFormato" style="min-height: 90%;">
                           <div class="modal-content">
                               <p style="font-size:16px;font-weight:900">PLANIFICACIÓN CAMBIOS QUE AFECTAN SISTEMA DE GESTIÓN DE CALIDAD <br> <span id="nombreArchivoFormato" style="font-weight:600"></span> </p>
                               <div class="row">
                                   <p style="font-size:16px;">DESCRIPCIÒN DEL CAMBIO: </p>
                                   <textarea id="descripcionCambio" value="" autofocus>
                                       
                                   </textarea>
                               </div>
                                <div class="row">
                                   <p style="font-size:16px;">RAZONES DEL CAMBIO: </p>
                                   <textarea id="razonesCambio" value="" autofocus>
                                       
                                   </textarea>
                               </div>
                               <div class="row">
                                   <p style="font-size:16px;">COMO AFECTA EL CAMBIO AL SISTEMA DE GESTIÓN DE LA CALIDAD: </p>
                                   <textarea id="afectaCambio" value="" autofocus>
                                       
                                   </textarea>
                               </div>
                               <div class="row">
                                   <p style="font-size:16px;">NECESIDADES DE DOCUMENTACIÓN/PERSONAL/EQUIPO/INSTALACIONES:</p>
                                   <textarea id="necesidadesCambio" value="" autofocus>
                                       
                                   </textarea>
                               </div>
                               <div class="row">
                                   <p style="font-size:16px;">FLUJO DE ACTIVIDADES Y REGISTROS NECESARIOS:</p>
                                   <textarea id="flujoCambio" value="" autofocus>
                                       
                                   </textarea>
                               </div>
                               <div class="row">
                                   <p style="font-size:16px;">AJUSTES NECESARIOS PARA MANTENER EL SISTEMA:</p>
                                   <textarea id="ajusteCambio" value="" autofocus>
                                       
                                   </textarea>
                               </div>
                            </div>
                                 <div class="modal-footer">
                                        <a href="javascript:;"  onclick="guardarFormato()" class="modal-action modal-close waves-effect waves-light btn green " style="margin-left:10px;">Guardar</a>
                                        <a href="javascript:;" onclick="limpiarFormato();" class="modal-action modal-close waves-effect waves-light btn red " style="margin-left:10px;">Cancelar</a>
                                </div>
                        </div>
                             
                         <div class="modal modal-fixed-footer" id="cambios">
                           <div class="modal-content">
                               <p style="font-size:16px;">Cambios realizados en : <span id="nombreArchivo" style="font-weight:600"></span> </p>
                               <div class="row">
                                   <textarea id="cambiosRealizados" value="" autofocus>
                                       
                                   </textarea>
                               </div>
                            </div>
                                 <div class="modal-footer">
                                        <a href="javascript:;"  onclick="guardar()" class="modal-action modal-close waves-effect waves-light btn green " style="margin-left:10px;">Guardar</a>
                                        <a href="javascript:;" onclick="$('#cambiosRealizados').val();" class="modal-action modal-close waves-effect waves-light btn red " style="margin-left:10px;">Cancelar</a>
                                </div>
                        </div>
            </div>
        </div>

    </div>
</div>
    <script>
        function guardar(){
            var i = document.getElementById("idCambio").value;
            var test = $('#cambiosRealizados').val();
          $('input[name="cambios'+i+'"]').val(test);
           document.getElementById("idCambio").value="";
           $('#cambiosRealizados').val("");
        }
        
        function validarPositivo(value,id){
            if(parseInt(value) <= 0){
                document.getElementById(id).value="";
                Materialize.toast("Número de version invalido",1000,"rounded")
            }
           
        }
        
           function guardarFormato(){
            var i = document.getElementById("idCambioFormato").value;
        
            var des = $('#descripcionCambio').val();
            var raz = $('#razonesCambio').val();
            var afe = $('#afectaCambio').val();
            var nec = $('#necesidadesCambio').val();
            var flu = $('#flujoCambio').val();
            var aju = $('#ajusteCambio').val();
            
            
            
            
          $('input[name="descripcionCambio'+i+'"]').val(des);
          $('input[name="razonesCambio'+i+'"]').val(raz);
          $('input[name="afectaCambio'+i+'"]').val(afe);
          $('input[name="necesidadesCambio'+i+'"]').val(nec);
          $('input[name="flujoCambio'+i+'"]').val(flu);
          $('input[name="ajusteCambio'+i+'"]').val(aju);
          
           document.getElementById("idCambioFormato").value="";
              $('#descripcionCambio').val() = "";
             $('#razonesCambio').val()= "";
             $('#afectaCambio').val()= "";
             $('#necesidadesCambio').val()= "";
             $('#flujoCambio').val()= "";
             $('#ajusteCambio').val()= "";
        }
        
         function limpiarFormato(){
             document.getElementById("idCambioFormato").value="";
              $('#descripcionCambio').val() = "";
             $('#razonesCambio').val()= "";
             $('#afectaCambio').val()= "";
             $('#necesidadesCambio').val()= "";
             $('#flujoCambio').val()= "";
             $('#ajusteCambio').val()= "";
        }
        </script>
