<div class="contenedor" style="zoom:90%;"> 
<div class="row">
    <h2>Gestion de Documentos</h2>
    
    
    <a href="#/consultarArchivos">
    <div class="col s2 z-depth-1 white"  style="text-align: center;padding: 10px;margin-right: 5px;margin-bottom:5px;">
        <center><i class="material-icons icon" style="font-size: 60px;color:#003C6B">cloud_circle</i></center>
        Documentos internos
    </div>
    </a>
    
    <a href="#/consultarArchivosExternos">
    <div class="col s2 z-depth-1 white"  style="text-align: center;padding: 10px;margin-right: 5px;margin-bottom:5px;">
        <center><i class="material-icons icon" style="font-size: 60px;color:#003C6B">language
</i></center>
        Documentos externos
    </div>
    </a>
    
     <a href="#/archivos">
    <div class="col s2 z-depth-1 white"  style="text-align: center;padding: 10px;margin-right: 5px;margin-bottom:5px;">
        <center><i class="material-icons icon" style="font-size: 60px;color:#003C6B">backup</i></center>
       Subir Documentos
    </div>
    </a>
    
    <a href="#/manuales">
    <div class="col s2 z-depth-1 white"  style="text-align: center;padding: 10px;margin-right: 5px;margin-bottom:5px;">
        <center><i class="material-icons icon" style="font-size: 60px;color:#003C6B">content_paste</i></center>
      Gestion de manuales
    </div>
    </a>
    
     <a href="#/procesos">
    <div class="col s2 z-depth-1 white"  style="text-align: center;padding: 10px;margin-right: 5px;margin-bottom:5px;">
        <center><i class="material-icons icon" style="font-size: 60px;color:#003C6B">device_hub</i></center>
      Gestion de procesos
    </div>
    </a>
    
    <a href="#/subprocesos">
    <div class="col s2 z-depth-1 white"  style="text-align: center;padding: 10px;margin-right: 5px;margin-bottom:5px;">
        <center><i class="material-icons icon" style="font-size: 60px;color:#003C6B">dns</i></center>
      Gestion de subprocesos
    </div>
    </a>
    
    <a href="#/tipodocumentos">
    <div class="col s2 z-depth-1 white"  style="text-align: center;padding: 10px;margin-right: 5px;margin-bottom:5px;">
        <center><i class="material-icons icon" style="font-size: 60px;color:#003C6B">content_copy</i></center>
      Gestion de tipo de doc.
    </div>
    </a>
    
     <a href="#/obsoletos">
    <div class="col s2 z-depth-1 white"  style="text-align: center;padding: 10px;margin-right: 5px;margin-bottom:5px;">
        <center><i class="material-icons icon" style="font-size: 60px;color:#003C6B">delete</i></center>
      Documentos Obsoletos
    </div>
    </a>
    
    <a href="#/solicitudes">
    <div class="col s2 z-depth-1 white"  style="text-align: center;padding: 10px;margin-right: 5px;margin-bottom:5px;">
        <center><i class="material-icons icon" style="font-size: 60px;color:#003C6B">add_box</i></center>
        Nuevas Solicitudes
    </div>
    </a>
    
   
    
</div>
</div>    