<div class="contenedor"> 
    <div class="row white">
        <div class="col s12 z-depth-1">
            <div class="contenedor">
                <div class="row">
                    <div class="col s12" ng-controller="procesosController" data-ng-init="getCargos();">  
                        <h2>Gestion de Procesos</h2>
                        <table  class="striped">
                            <thead>
                            <th width="20px">
                                
                            </th>
                            <th>
                                Nombre
                            </th>
                            <th width="60px">
                                Sigla
                            </th>
                            <th>
                                Responsable
                            </th>
                            <th width="10px">
                                
                            </th>
                            <th width="10px">
                                
                            </th>
                            <th width="10px">
                                
                            </th>
                            </thead>
                            <tbody>
                                <tr style="background-color: transparent;">
                                    <td><input type="text" ng-model="Procesos.id" disabled="true"></td>
                                    <td><input type="text" ng-model="Procesos.nombre"></td>
                                    <td><input type="text" ng-model="Procesos.sigla"></td>
                                    <td>
                                        <select ng-model="Procesos.responsable" id="responsable" class="browser-default">
                                            <option ng-repeat="item in listaCargos" value="{{item.id}}">{{item.nombre}}</option>
                                        </select>
                                    </td>
                                    <td><button class="btn waves-effect waves-light green " title="Guardar" id="guardar" ng-click="guardar();" disabled="" ><i class="material-icons">save</i></button></td>
                                    <td><button class="btn waves-effect waves-light blue"  title="Actualizar" id="actualizar" ng-click="modificar();" disabled="" ><i class="material-icons">reply</i></button></td>
                                    <td><button class="btn waves-effect waves-light red"  title="limpiar" id="limpiar" ng-click="limpiar();"><i class="material-icons">clear</i></button></td>
                                </tr>
                                <tr ng-repeat ="item in listaProcesos">
                                    <td>{{item.id}}</td>
                                    <td>{{item.nombre}}</td>
                                    <td>{{item.sigla}}</td>
                                    <td>{{item.responsable.nombre}}</td>
                                    <td></td>
                                    <td style="text-align: center;"><a href="javascript:;" title="editar" ng-click="cargarModificar(item);"><i class="material-icons">create</i></a></td>
                                    <td style="text-align: center;"><a href="javascript:;" title="eliminar"  ng-click="eliminar(item.id);"><i class="material-icons" style="color:#F44336">remove</i></a></td>
                                </tr>
                            </tbody>    
                        </table>
                  </div>
                </div>
            </div>
        </div>
    </div>
   


</div>